<nav class="flex">
    <a href="/" class="basis-1/4 text-center">Home</a>
    <a href="/photos/" class="basis-1/4 text-center">Photos</a>
    <a href="/video/" class="basis-1/4 text-center">Video</a>
    <a href="/bio/" class="basis-1/4 text-center">Bio</a>
</nav>