---
import Nav from '../components/Nav.astro';
export interface Props {
	title: string;
	pageName: string;
}

const { title, pageName } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1 class="text-center text-5xl mb-5 mt-5">{title}</h1>
		<Nav></Nav>
		<p>{pageName}</p>
		<slot />
	</body>
</html>
<style>
</style>
